<h4 class="title">Saisir les notes</h4>
<p>Choisir la classe :</p>
<%= form_for @conn, Routes.notes_path(@conn, :get_list_eleves_classe), [method: :get, as: :search], fn f -> %>
<%= select(f, :classe_id, Enum.map(@classe, &{&1.nomclasse, &1.id}), prompt: "Tous") %>
<div>
  <%= submit "Valider" %>
</div>
<% end %>
<p><a href={Routes.notes_path(@conn, :list_notes)}>Liste</a></p>