<h1 class="title">Nouveau Matiere</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.matiere_path(@conn, :create)) %>

<a href={Routes.matiere_path(@conn, :index)}><i class="fa-solid fa-circle-left"></i> Retour</a>
