<h1 class="title">A propos matiere</h1>

<ul>

  <li>
    <strong>Matiere:</strong>
    <%= @matiere.nommatiere %>
  </li>

  <li>
    <strong>Coefficient:</strong>
    <%= @matiere.coef %>
  </li>

</ul>

<a href={Routes.matiere_path(@conn, :edit, @matiere)}><i class="fa-solid fa-square-pen"></i> Modifier</a> |
<a href={Routes.matiere_path(@conn, :index)}><i class="fa-solid fa-circle-left"></i> Retour</a>

