<h1 class="title">Edit Sexe</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.sexe_path(@conn, :update, @sexe)) %>

<a href={Routes.sexe_path(@conn, :index)}><i class="fa-solid fa-circle-left"></i> Retour</a>
