<h1 class="title">Afficher Sexe</h1>

<ul>

  <li>
    <strong>Nom:</strong>
    <%= @sexe.nom %>
  </li>

</ul>

<a href={Routes.sexe_path(@conn, :edit, @sexe)}><i class="fa-solid fa-square-pen"></i> Modifier</a> |
<a href={Routes.sexe_path(@conn, :index)}><i class="fa-solid fa-circle-left"></i> Retour</a>
