<h1 class="title">Edit Classes</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.classes_path(@conn, :update, @classes)) %>

<a href={Routes.classes_path(@conn, :index)}><i class="fa-solid fa-circle-left"></i> Retour</a>
