<h1 class="title">Afficher Classe</h1>

<ul>

  <li>
    <strong>Nom classe:</strong>
    <%= @classes.nomclasse %>
  </li>

  <li>
    <strong>Place:</strong>
    <%= @classes.place %>
  </li>

</ul>

<a href={Routes.classes_path(@conn, :edit, @classes)}><i class="fa-solid fa-square-pen"></i> Modifier</a> |
<a href={Routes.classes_path(@conn, :index)}><i class="fa-solid fa-circle-left"></i> Retour</a>
